.DS_Store
ignored_files/
scripts/*_files/
scripts/*_day[0-9][0-9]_*.html
# En pausa los demás scripts
/scripts/2023_30daymapchallenge_day2[5-9]_*
/scripts/2023_30daymapchallenge_day30_*
# En pausa los conjuntos de datos
data/*_shp/
data/*_descriptor_*
data/MODIS*